{% extends "app/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

    <div class="container">
        <div class="main-content">
            <!-- Featured
            ================================================== -->

            <!-- Posts Index
        ================================================== -->
            <section class="recent-posts row">
                <div class="col-sm-4">
                    <div class="sidebar">
                        <div class="sidebar-section">
                            <h5><span>絞り込み</span></h5>
                            <!-- Go to your Mailchimp account/Lists/Sign Up Forms/Embedded forms and replace the code below with your own  -->
                            <!-- Begin MailChimp Signup Form -->
                            <link href="https://cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet"
                                  type="text/css">
                            <div id="mc_embed_signup">

                                <a href="{% url 'index' %}">

                                <button class="btn btn-warning">list一覧
                                            <i class="fa fa-caret-right"></i>
                                        </button>
                                </a>

                                <a href="{% url 'MapItirann' %}">

                                <button class="btn btn-warning">map一覧
                                            <i class="fa fa-caret-right"></i>
                                        </button>
                                </a>
                                <hr>

                                <!--絞り込みform-->
                                <form class="contact-form" name="contact-form" method="post"
                                      enctype="multipart/form-data" target="itr">


                                    {% csrf_token %}


                                    <div class="form-group">


                                        <div class="form-group">
                                            <label>問題カテゴリ *</label>
                                            <div>

                                                <select name="problemcategory">
                                                    <option name="problemcategory" value="環境問題">環境問題</option>
                                                    <option name="problemcategory" value="伝統・文化">伝統・文化</option>
                                                    <option name="problemcategory" value="防災・防犯">防災・防犯</option>
                                                    <option name="problemcategory" value="多様性">多様性</option>
                                                    <option name="problemcategory" value="政治">政治</option>
                                                    <option name="problemcategory" value="労働">労働</option>
                                                    <option name="problemcategory" value="人手不足">人手不足</option>
                                                    <option name="problemcategory" value="いきもの">いきもの</option>
                                                    <option name="problemcategory" value="少子・高齢">少子・高齢</option>
                                                    <option name="problemcategory" value="人間関係">人間関係</option>
                                                    <option name="problemcategory" value="貧困">貧困</option>
                                                    <option name="problemcategory" value="資源問題">資源問題</option>
                                                    <option name="problemcategory" value="ゴミ・清掃">ゴミ・清掃</option>
                                                    <option name="problemcategory" value="その他">その他</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>募集状態 *</label>
                                            <div>
                                               <select name="status">
                                                    <option name="status" value="募集中">募集中</option>
                                                    <option name="status" value="募集終了（断念）">募集終了（断念）</option>
                                                    <option name="status" value="募集終了（解決）">募集終了（解決）</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>目的 *</label>
                                            <div>
                                                   <select name="purpose">
                                                    <option name="purpose" value="議論したい">議論したい</option>
                                                    <option name="purpose" value="相談したい">相談したい</option>
                                                    <option name="purpose" value="行動したい">行動したい</option>
                                                    <option name="purpose" value="その他">その他</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>規模 *</label>
                                            <div>
                                                   <select name="problemSize">
                                                    <option name="problemSize" value="小">小</option>
                                                    <option name="problemSize" value="中">中</option>
                                                    <option name="problemSize" value="大">大</option>
                                                    <option name="problemSize" value="その他">その他</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>搭載者種別 *</label>
                                            <div>
                                                   <select name="organization">
                                                    <option name="organization" value="個人">個人</option>
                                                    <option name="organization" value="NPO・公共団体">NPO・公共団体</option>
                                                    <option name="organization" value="地方自治体">地方自治体</option>
                                                    <option name="organization" value="一般企業">一般企業</option>
                                                    <option name="organization" value="その他">その他</option>
                                                </select>
                                            </div>
                                        </div>

                                        <button type="submit" name="submit" class="btn btn-warning">Submit Message
                                            <i class="fa fa-caret-right"></i>
                                        </button>
                                    </div>

                                </form>
                            </div>
                            <script type='text/javascript'
                                    src='https://s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                            <script type='text/javascript'>(function ($) {
                                window.fnames = new Array();
                                window.ftypes = new Array();
                                fnames[0] = 'EMAIL';
                                ftypes[0] = 'email';
                                fnames[3] = 'MMERGE3';
                                ftypes[3] = 'text';
                                fnames[1] = 'MMERGE1';
                                ftypes[1] = 'text';
                                fnames[2] = 'MMERGE2';
                                ftypes[2] = 'text';
                                fnames[4] = 'MMERGE4';
                                ftypes[4] = 'text';
                                fnames[5] = 'MMERGE5';
                                ftypes[5] = 'text';
                            }(jQuery));
                            var $mcj = jQuery.noConflict(true);</script>
                            <!--End mc_embed_signup-->
                        </div>

                    </div>
                </div>


                <div class="col-sm-8">
                    <div class="section-title">
                        <h2><span>All Stories</span></h2>
                    </div>
                    <div class="masonrygrid row listrecent">
                        <!-- begin post -->


                        <!-- end post -->
                        <!-- begin post -->

                        <!-- end post -->

                    </div>
                    <!-- Pagination -->
                    <div class="bottompagination">
                        <div class="navigation">
                            <iframe name='itr' src="{% url 'MapView' %}" width='1100px' height='600px'></iframe>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <br>
    <br>
    <br>

{% endblock %}
