{% load static %}
<!DOCTYPE html>
<head>



        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>

    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>


<script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.8.24/jquery-ui.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    <!-- plugin -->
    <!--位置情報-->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
     <link rel="stylesheet"  href="{% static 'css/L.Control.Locate.min.css' %}"/>
    <script type="text/javascript" src="{% static 'js/L.Control.Locate.min.js' %}"></script>
    <!--検索欄-->
    <script type="text/javascript" src="{% static 'js/leaflet.customsearchbox.min.js' %}"></script>
     <link rel="stylesheet"  href="{% static 'css/searchbox.min.css' %}"/>


    <!-- plugin -->
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ab28c12a41bd43aba60b1f87edd69d00 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                header{
                    position: relative;
                    z-index: 1000000;
                }
            </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>


            <div class="folium-map" id="map_ab28c12a41bd43aba60b1f87edd69d00" ></div>

</body>
<script>




        //開いた瞬間発動するマップ
var base = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );

var map_ab28c12a41bd43aba60b1f87edd69d00 = L.map(
    "map_ab28c12a41bd43aba60b1f87edd69d00",
    {
        center: [33.8314789, 132.7649427],
        crs: L.CRS.EPSG3857,
        zoom: 10,
        zoomControl: true,
        preferCanvas: false,
        //zoom倍率
        minZoom: 4,
        maxZoom: 19,
        maxNativeZoom: 19,
        //タイル
        layers:[base]

    }
);

//search

var searchboxControl=createSearchboxControl();
var control = new searchboxControl({
    sidebarTitleText: 'Header Title Hoge',
    sidebarMenuItems: {
        Items: [
            { type: "link", name: "google", href: "http://google.com", icon: "icon-cloudy" },
            { type: "link", name: "leafletjs", href: "http://leafletjs.com", icon: "icon-local-carwash" },
            { type: "button", name: "call alert button", onclick: "alert('alert button')", icon: "icon-potrait" },
            { type: "button", name: "call function button", onclick: "func_btn_click();", icon: "icon-local-dining" }
        ]
    }
});
var data = [
    		{% for bunka in Kinnkyuuhinann_list %}
    		{"loc":[{{ bunka.緯度 }},{{ bunka.経度 }}], "title":"{{ bunka.名称 }}"},

            {% endfor %}
    	];

// 検索ボタンが押された時のコールバック
      control._searchfunctionCallBack = function (srhkeywords)
      {
          if (!srhkeywords) {
              alert("検索ワードを入力してください");
              return;
          }

          // 表示データのタイトルに検索ワードが含まれているかチェック（前方一致）
          for(i in data) {
              if(data[i].title.indexOf(srhkeywords) === 0){
                  // 地図の座標を移動
                  map_ab28c12a41bd43aba60b1f87edd69d00.setView(data[i].loc, 15);

                  return;
              }
          }
          alert("検索ワードに該当するデータはありません。");
          // 表示データのタイトルに検索ワードが含まれているかチェック（前方一致）


      }

      map_ab28c12a41bd43aba60b1f87edd69d00.addControl(control);

      function func_btn_click(){
          alert('function button');
      }

 // Locate
        var option = {
        position: 'topright',
        strings: {
            title: "現在地を表示",
            popup: "現在地",
        },
        icon: "fa fa-street-view",
        locateOptions: {
            maxZoom: 16
        }
        }

        var lc = L.control.locate(option).addTo(map_ab28c12a41bd43aba60b1f87edd69d00);
        lc.start();

 //ここからマップいじり

        var Basic_Map = new Array();
            Basic_Map[ 0 ] = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
            Basic_Map[ 1 ] = L.tileLayer('https://cyberjapandata.gsi.go.jp/xyz/std/{z}/{x}/{y}.png', {
                attribution: "<a href='https://maps.gsi.go.jp/development/ichiran.html' target='_blank'>地理院タイル</a>"
            });
            Basic_Map[ 2 ] = L.tileLayer('https://cyberjapandata.gsi.go.jp/xyz/seamlessphoto/{z}/{x}/{y}.jpg', {
                attribution: "<a href='https://maps.gsi.go.jp/development/ichiran.html' target='_blank'>地理院タイル</a>"
            });
            Basic_Map[ 3 ] = L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer/tile/{z}/{y}/{x}', {
                attribution: 'Tiles © <a href="http://www.esrij.com/"> Esri Japan </a>'
            });
            Basic_Map[ 4 ]=L.tileLayer('https://mt1.google.com/vt/lyrs=r&x={x}&y={y}&z={z}', {
                attribution: "<a href='https://developers.google.com/maps/documentation' target='_blank'>Google Map</a>"
            });

            var baseMap = {
                "OpenStreetMap": Basic_Map[ 0 ],
                "国土地理院 標準地図": Basic_Map[ 1 ],
                "国土地理院 写真": Basic_Map[ 2 ],
                "Esri World Topo Map": Basic_Map[ 3 ],
                "google Map": Basic_Map[ 4 ],

            };

            var tile_layer_e30869c0c03748739f4138485c0784d4 = L.control.layers(baseMap).addTo(map_ab28c12a41bd43aba60b1f87edd69d00);
        //ここまで

            var marker_cluster_b3354b0d2f6843248fb0beb74d4ecd20 = L.markerClusterGroup(
                {}
            );
            map_ab28c12a41bd43aba60b1f87edd69d00.addLayer(marker_cluster_b3354b0d2f6843248fb0beb74d4ecd20);

        {% for post in post_data %}

            var marker_fe875799704e47da99544415751f1e48 = L.marker(
                [{{ post.latitude }}, {{ post.longitude }}],
                {}
            ).addTo(marker_cluster_b3354b0d2f6843248fb0beb74d4ecd20);


            var icon_027537c0901341aca9438a72caba7b8c = L.AwesomeMarkers.icon(
                 {"extraClasses": "fa-rotate-0", "icon": "flag", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_fe875799704e47da99544415751f1e48.setIcon(icon_027537c0901341aca9438a72caba7b8c);


        var popup_467388a00115455ca46c1385cc7a018a = L.popup({"maxWidth": "100%"});


            var html_1b353e954bf148debed1941c4d7fe4ee = $(`<div id="html_82f1134837384cfe9d78f038ada5ff16" style="width: 350px; height: 200px;overflow-y: scroll;"><div id="q"><strong><h3><a href="https://maps.google.co.jp/maps?q={{ post.title }}"><font size="4" color="#0000FF">{{ post.title }}</font></a></h3></strong><hr><p><strong>住所：</strong><a href="https://maps.google.co.jp/maps?q={{ post.address }}"><strong>{{ post.address }}</strong></a></p><p><strong>緯度：</strong>{{ post.latitude }}<p><strong>経度：</strong>{{ post.longitude }}</p><p><strong>募集人員：</strong>{{ post.peopleNum }}</p><p><strong>募集状態：</strong>{{ post.status }}</p><p><strong>カテゴリ：</strong>{{ post.problemCategory }}</p><p><strong>目的：</strong>{{ post.purpose }}</p><p><strong>搭載者：</strong>{{ post.organization }}</p> <a href="{% url 'post_detail' post.id %}">
                            <button class="btn btn-danger" type="submit">
                                詳細
                            </button>
                        </a></div> </div>`)[0];
            popup_467388a00115455ca46c1385cc7a018a.setContent(html_1b353e954bf148debed1941c4d7fe4ee);


        marker_fe875799704e47da99544415751f1e48.bindPopup(popup_467388a00115455ca46c1385cc7a018a)
        ;
        {% endfor %}

</script>
