{% extends 'app/base.html' %}
{% load static %}

{% block content %}



    <section id="about-page-section-3">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7 text-align">
                    <div class="section-heading">
                        <h2><span>{{ post_data.title }}</span></h2><p>{{ post_data.createed }} <span>by {{ post_data.author }}</span></p>
                        <p class="subheading">{{ post_data.content|linebreaksbr}}</p>
                    </div>

                    {% if user.is_authenticated %}
                    <button type="button" class="btn btn-primary slide">自分の投稿を編集する <i class="fa fa-caret-right"></i></button>

                    {% endif %}
                </div>
                {% if post_data.image %}


                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
                    <img height="" width="auto" src="{{ post_data.image.url }}" class="attachment-full img-responsive" alt="">

                {% else %}
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
                    <img height="" width="auto" src="{% static 'img/user.jpg' %}" class="attachment-full img-responsive" alt="">
                </div>
                {% endif %}
            </div>
        </div>
        </div>
    </section>



{% endblock %}