{% extends 'app/base.html' %}
{% load static %}

{% block content %}



    <section id="about-page-section-3">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7 text-align">
                    <div class="section-heading">
                        <h2><span>{{ post_data.title }}</span></h2>
                        <hr>
                        <p></p>
                        <p class="subheading">{{ post_data.content|linebreaksbr }}</p>
                    </div>
                    <p>
                        作成日：{{ post_data.created }}
&nbsp;&nbsp;
                        <strong>

                        [作成者:{{ post_data.author }}]
                        </strong>
                    </p>

                <br>
                <hr>
                <br>

                    <p>
                        住所：{{ post_data.address }}
                    </p>
                    <p>
                        緯度：{{ post_data.latitude }}

                        &nbsp;&nbsp;
                        経度：{{ post_data.longitude }}
                    </p>
                <hr>
                    <p>
                        募集人数：{{ post_data.peopleNum }}
                    </p>
                    <p>
                        規模：{{ post_data.problemSize }}
                    </p>
                    <p>
                        問題カテゴリ：{{ post_data.problemCategory }}
                    </p>
                    <p>
                        募集状態：{{ post_data.status }}
                    </p>
                    <p>
                        搭載者種別：{{ post_data.organization }}
                    </p>
                    <p>
                        目的：{{ post_data.purpose }}
                    </p>


                    {% if user == post_data.author %}
                        <a href="{% url 'post_edit' post_data.id %}" style="margin-right: 15px">
                            <button class="btn btn-warning" type="submit">
                                自分の投稿を編集する
                            </button>


                        </a>

                           <a href="{% url 'post_delete' post_data.id %}" style="margin-right: 15px">
                            <button class="btn btn-danger" type="submit">
                                自分の投稿を削除する
                            </button>


                        </a>

                        <a href="{% url 'post_delete' post_data.id %}" style="margin-right: 15px">
                            <button class="btn btn-info" type="submit">
                                入室
                            </button>
                        </a>

                         <a href="{% url 'post_delete' post_data.id %}" style="margin-right: 15px">
                            <button class="btn btn-warning" type="submit">
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </button>
                        </a>
                    {% endif %}
                            <br><br>
            <br><br>

                </div>

                {% if post_data.image %}


                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
                    <img height="" width="auto" src="{{ post_data.image.url }}" class="attachment-full img-responsive"
                         alt="">

                {% else %}
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
                        <img height="" width="auto" src="{% static 'img/user.jpg' %}"
                             class="attachment-full img-responsive" alt="">
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </section>



{% endblock %}